//日期格式化-------------------------------------------------------------
var formatTime = function (strDate) {
    if (strDate == null || strDate == undefined || strDate == "") {
        return ""
    }
    // 解决ios出现NaN问题
    // strDate = strDate.replace("T", " ");
    var realDate = strDate ? getDate(strDate) : getDate();
    console.log("realDate", realDate.toLocaleString());
    var timestamp = realDate.getTime() / 1000
    console.log("timestamp",timestamp);
    var date = getDate( timestamp * 1000); //时间戳为10位需*1000，时间戳为13位的话不需乘1000
    var Y = date.getFullYear();
    var M =
        (date.getMonth() + 1 < 10 ?
            "0" + (date.getMonth() + 1) :
            date.getMonth() + 1);
    var D = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
    var h = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
    var m = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
    var s = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();


    var mistiming = Math.round(getDate() / 1000) - timestamp;
    var postfix = mistiming > 0 ? '前' : '后'
    mistiming = Math.abs(mistiming)


    var arrr = ['年','个月','星期','天','小时','分钟','秒'];
    var arrn = [31536000,2592000,604800,86400,3600,60,1];
    // var arrr = ['小时', '分钟', '秒'];
    // var arrn = [3600, 60, 1];

    console.log(mistiming);
    if (mistiming > 604800) {
        return Y + "-" + M + "-" + D + " " + h + ":" + m + ":" + s;
    } else {
        for (var i = 0; i < 7; i++) {
            var inm = Math.floor(mistiming / arrn[i])
            if (inm != 0) {
                return inm + arrr[i] + postfix
            }
        }
    }
}

module.exports = {
    formatTime: formatTime
}